<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.cafenrecipes.dao.BoardDAO">
	<select id="list" resultType="kr.co.cafenrecipes.dto.PagingDTO">
		SELECT idx, subject, name, bHit
		FROM bbs
		ORDER BY idx DESC
		LIMIT #{param1} OFFSET #{param2}
	</select>

	<select id="allCount" resultType="int">
		SELECT COUNT(idx) FROM bbs
	</select>

	<insert id="write" useGeneratedKeys="true" keyProperty="idx"
		keyColumn="idx" parameterType="kr.co.cafenrecipes.dto.BoardDTO">
		INSERT INTO bbs(subject,content,name)VALUES(#{subject},#{content},#{name})
	</insert>

	<insert id="fileWrite">
		INSERT INTO photo(idx, oriFileName,
		newFileName)VALUES(#{param1},#{param2},#{param3})
	</insert>

	<select id="photoList"
		resultType="kr.co.cafenrecipes.dto.PhotoDTO">
		SELECT oriFileName, newFileName FROM photo
		WHERE idx = #{param1} ORDER BY fileIdx DESC
	</select>

	<update id="upHit">
		UPDATE bbs SET bHit = bHit+1
		WHERE idx = #{param1}
	</update>

	<select id="detail" resultType="kr.co.cafenrecipes.dto.BoardDTO">
		SELECT * FROM bbs WHERE idx =
		#{param1}
	</select>

	<delete id="delete">
		DELETE FROM bbs WHERE idx = #{param1}
	</delete>

	<update id="update" parameterType="hashmap">
		UPDATE bbs SET
		content =
		#{content}
		WHERE idx = #{idx}
	</update>

	<select id="search" parameterType="hashmap"
		resultType="kr.co.cafenrecipes.dto.BoardDTO">
		SELECT * FROM bbs
		<where>
			<if test="opt.equals('subject') and !keyword.equals('')">
				subject LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="opt.equals('name') and !keyword.equals('')">
				name LIKE CONCAT('%',#{keyword},'%')
			</if>
		</where>
	</select>

</mapper>